sl-breadcrumb-item::part(base) {
  color: var(--cs-link-foreground);
  text-decoration: var(--cs-text-decoration-underline);

  &:hover {
    color: var(--cs-link-foreground-hover);
  }

  &:active {
    color: var(--cs-link-foreground-active);
  }
}