sl-breadcrumb-item {
  & [slot="prefix"] {
    margin-inline-end: var(--cs-space-xxs);
  }

  & [slot="suffix"] {
    margin-inline-start: var(--cs-space-xxs);
  }
}

sl-breadcrumb-item::part(base) {
  color: var(--cs-link-foreground);
  text-decoration: var(--cs-text-decoration-underline);

  &:hover {
    color: var(--cs-link-foreground-hover);
  }

  &:active {
    color: var(--cs-link-foreground-active);
  }
}

sl-breadcrumb-item::part(label):focus-visible {
  outline: var(--cs-button-border-focus);
  outline-offset: 2px;
}

sl-breadcrumb-item::part(separator) {
  margin-inline: var(--cs-space-xxs);
}