sl-button::part(base) {
  align-items: center;
  height: 2rem;
}

sl-button::part(label) {
  font: var(--cs-type-sans-serif-s-tight-semibold);
}

sl-button[variant][disabled] {
  &::part(base) {
    background-color: var(--cs-overlay-dark);
    color: var(--cs-button-disabled-color);
    opacity: 1;
    text-decoration: none;
    border-color: transparent;
  }
}

sl-button[variant="primary"]::part(base) {
  background-color: var(--cs-button-primary-background);
  color: var(--cs-button-primary-color);

  &:hover,
  &:focus-visible {
    background-color: var(--cs-button-primary-background-hover);
  }

  &:active {
    background-color: var(--cs-button-primary-background-active);
  }
}

sl-button[variant="neutral"]::part(base),
sl-button[variant="default"]::part(base) {
  background-color: var(--cs-button-secondary-background);
  color: var(--cs-button-secondary-color);

  &:hover,
  &:focus-visible {
    background-color: var(--cs-button-secondary-background-hover);
  }

  &:active {
    background-color: var(--cs-button-secondary-background-active);
  }
}

sl-button[variant="neutral"]::part(base) {
  background-color: transparent;
  border: 1px solid var(--cs-border-color-light);
}

sl-button[variant="danger"]::part(base) {
  background-color: var(--cs-button-danger-background);
  color: var(--cs-button-danger-color);

  &:hover {
    background-color: var(--cs-button-danger-background-hover);
  }

  &:focus-visible {
    background-color: var(--cs-button-danger-background-hover);
  }

  &:active {
    background-color: var(--cs-button-danger-background-active);
  }
}

sl-button[variant="text"]::part(base) {
  color: var(--cs-button-link-color);
  text-decoration: underline;

  &:hover,
  &:focus-visible {
    color: var(--cs-button-link-color-hover);
  }

  &:active {
    color: var(--cs-button-link-color-active);
  }
}
