sl-button::part(base) {
  align-items: center;
  height: 2rem;
}

sl-button::part(label) {
  font: var(--cs-type-sans-serif-s-tight-semibold);
}

sl-button[variant][disabled] {
  &::part(base) {
    background-color: var(--cs-overlay-dark);
    color: var(--cs-button-color-foreground-disabled);
    opacity: 1;
    text-decoration: none;
    border-color: transparent;
  }
}

sl-button[variant="primary"]::part(base) {
  background-color: var(--cs-button-color-background-primary);
  color: var(--cs-button-color-foreground-primary);

  &:hover,
  &:focus-visible {
    background-color: var(--cs-button-color-background-primary-hover);
  }

  &:active {
    background-color: var(--cs-button-color-background-primary-active);
  }
}

sl-button[variant="neutral"]::part(base),
sl-button[variant="default"]::part(base) {
  background-color: var(--cs-button-color-background-secondary);
  color: var(--cs-button-color-foreground-secondary);

  &:hover,
  &:focus-visible {
    background-color: var(--cs-button-color-background-secondary-hover);
  }

  &:active {
    background-color: var(--cs-button-color-background-secondary-active);
  }
}

sl-button[variant="neutral"]::part(base) {
  background-color: transparent;
  border: 1px solid lightgray;
}

sl-button[variant="danger"]::part(base) {
  background-color: var(--cs-button-color-background-danger);
  color: var(--cs-button-color-foreground-danger);

  &:hover {
    background-color: var(--cs-button-color-background-danger-hover);
    color: var(--cs-button-color-foreground-danger-hover);
  }

  &:focus-visible {
    background-color: var(--cs-button-color-background-danger-hover);
    color: var(--cs-button-color-foreground-danger-hover);
  }

  &:active {
    background-color: var(--cs-button-color-background-danger-active);
    color: var(--cs-button-color-foreground-danger-active);
  }
}

sl-button[variant="text"]::part(base) {
  color: var(--cs-button-color-foreground-link);
  text-decoration: underline;

  &:hover,
  &:focus-visible {
    color: var(--cs-button-color-foreground-link-hover);
  }

  &:active {
    color: var(--cs-button-color-foreground-link-active);
  }
}