sl-checkbox {
  &::part(base) {
    display: inline-flex;
    align-items: center;
  }

  &::part(control) {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--cs-border-color-medium);
    background-color: var(--cs-input-background);
    border-radius: var(--cs-border-radius-s);
    padding: 1px;
  }

  &::part(control--checked) {
    background-color: var(--cs-checkbox-background-checked);
    border-color: transparent;
    color: var(--cs-checkbox-checked);
  }
}

sl-checkbox[data-user-invalid] {
  --sl-focus-ring: 2px solid #e9181f63;
  --sl-focus-ring-offset: 0;

  &::part(control) {
    border-color: var(--cs-input-border-color-invalid);
  }
}
