sl-details {
  --sl-focus-ring-offset: var(--cs-focus-ring-inset);

  &::part(base) {
    border-bottom: var(--cs-details-border);
    background-color: var(--cs-details-summary-color-background);
  }


  &::part(summary) {
    color: var(--cs-details-summary-color-foreground);
    font: var(--cs-type-sans-serif-l-tight-semibold);
  }

  &::part(content) {
    background-color: var(--cs-details-content-color-background);
    color: var(--cs-details-content-color-foreground);
    font: var(--cs-type-sans-serif-s);
  }
}