sl-dialog {
  &::part(overlay) {
    background-color: var(--cs-overlay-darkest);
  }

  &::part(panel) {
    box-shadow: var(--cs-drop-shadow-2xl);
  }

  &::part(title) {
    font: var(--cs-type-sans-serif-l);
  }

  &::part(header-actions) {
    --font-size: var(--cs-font-size-xl);
    --sl-font-size-medium: var(--font-size);

    font: var(--cs-type-sans-serif-l);
  }
}