sl-drawer {
  --size: '';
  --header-spacing: var(--cs-space-m);
  --body-spacing: var(--cs-space-m);
  --footer-spacing: var(--cs-space-m);

  &::part(overlay) {
    background-color: var(--cs-overlay-darkest);
  }

  &::part(panel) {
    box-shadow: var(--cs-shadow-drop-xl);
  }

  &::part(title) {
    font: var(--cs-type-sans-serif-xl);
  }
}