:root,
:host {
  --sl-input-height-small: 2rem;
  --sl-input-height-medium: 2rem;
  --sl-input-border-radius-medium: var(--cs-border-radius-s);
  --sl-input-border-width: 0;
  --sl-input-border-color: transparent;
  --sl-input-border-color-hover: transparent;
  --sl-input-border-color-focus: transparent;
  --sl-input-border-color-disabled: transparent;
  --sl-input-color: var(--cs-input-color-foreground);
  --sl-input-color-hover: var(--cs-input-color-foreground);
  --sl-input-color-focus: var(--cs-input-color-foreground);
  --sl-input-color-disabled: var(--cs-input-color-foreground-disabled);
  --sl-input-help-text-color: var(--cs-input-color-label);
  --sl-input-label-color: var(--cs-input-color-label);
  --sl-input-placeholder-color: var(--cs-input-color-placeholder);
  --sl-input-placeholder-color-disabled: var(--cs-input-color-placeholder);
  --sl-input-icon-color: var(--cs-input-color-label);
  --sl-input-icon-color-hover: var(--cs-input-color-label);
  --sl-input-icon-color-focus: var(--cs-input-color-label);
  --sl-input-spacing-medium: var(--cs-space-s);
  --sl-input-background-color: var(--cs-overlay-darker);
  --sl-input-background-color-hover: var(--cs-overlay-darker);
  --sl-input-background-color-focus: var(--cs-overlay-darker);
  --sl-input-background-color-disabled: var(--cs-overlay-darker);
}

sl-input,
sl-textarea {
  &::part(input) {
    background-color: transparent;
    padding-inline: var(--cs-space-xs);
  }

  & [slot="prefix"] {
    margin-inline-start: var(--cs-space-s);
  }

  & [slot="suffix"] {
    margin-inline-end: var(--cs-space-s);
  }
}

sl-input,
sl-select,
sl-textarea {

  &::part(base),
  &::part(combobox) {
    box-shadow: var(--cs-input-shadow);
  }

  &::part(input) {
    font: var(--cs-type-sans-serif-s);
  }

  &::part(base):focus-within,
  &::part(combobox):focus-within {
    box-shadow: var(--cs-input-shadow-focus);
  }

  &[data-user-invalid]::part(base),
  &[data-user-invalid]::part(combobox) {
    box-shadow: var(--cs-input-shadow-invalid);

    &:focus-within {
      box-shadow: var(--cs-input-shadow-invalid-focus);
    }
  }

  &[disabled]::part(base),
  &[disabled]::part(combobox) {
    box-shadow: none;
    opacity: 1;
  }
}

::part(form-control-help-text) {
  font: var(--cs-type-sans-serif-xs);
}

::part(form-control-label) {
  font: var(--cs-type-sans-serif-s);
}