sl-menu-label {
  border: var(--cs-button-border);
  color: var(--cs-menu-label-color-foreground);
  font: var(--cs-type-sans-serif-s);
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-2x-small);
}

sl-option,
sl-menu-item {
  border: var(--cs-button-border);
  color: var(--cs-menu-item-color-foreground);
  font: var(--cs-type-sans-serif-s-tight);

  &:hover {
    background-color: var(--cs-overlay-dark);
  }

  &:focus-visible {
    border: var(--cs-button-border-focus);
  }
}