sl-menu-label {
  color: var(--cs-menu-label-color);
  font: var(--cs-type-sans-serif-s);
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-2x-small);
}

sl-option,
sl-menu-item {
  color: var(--cs-menu-item-color);
  font: var(--cs-type-sans-serif-s-tight);

  &:hover {
    background-color: var(--cs-overlay-dark);
  }

  &:focus-visible {
    outline: var(--cs-focus-ring);
    outline-offset: var(--cs-focus-ring-inset);
  }
}
