sl-radio-group {
  &::part(form-control) {
    display: flex;
    flex-direction: column;
    gap: var(--cs-space-xxs);
  }

  &::part(form-control-input) {
    display: flex;
    flex-direction: column;
    gap: var(--cs-space-xs);
  }
}