sl-radio-group {
  &::part(form-control) {
    display: flex;
    flex-direction: column;
    gap: var(--cs-space-x1);
  }

  &::part(form-control-input) {
    display: flex;
    flex-direction: column;
    gap: var(--cs-space-x2);
  }
}
