/*

Notes:
See selector `sl-option` in menu.css for styling of option.
Background of dropdown is set by global css var `--sl-panel-background-color` in global.css

*/

sl-select {
  & [slot="prefix"] {
    /*
      Need to explicitly set this color.
      I think this should use --sl-input-icon-color
      rather than inheriting the placeholder color.
      Possible bug?
    */
    color: var(--cs-input-color-label);
  }
}

sl-select {
  &::part(tag__base) {
    background-color: var(--cs-tag-color-background-neutral);
    color: var(--cs-tag-color-foreground-neutral);
    border: 0;
  }

  &::part(tag__remove-button__base) {
    margin-left: var(--cs-space-xs);
  }
}