sl-tab-group {
  --indicator-color: var(--cs-tab-background-active);
  --track-color: #ebebeb;
  --track-width: 1px;
  display: block;

  &::part(active-tab-indicator) {
    border-radius: var(--cs-border-radius-m) var(--cs-border-radius-m) 0 0;
    background-color: var(--cs-tab-background-active);
    padding: 1px;
  }

  &::part(body) {
    padding: var(--cs-space-x4);
  }
}

sl-tab {
  color: var(--cs-tab-color);
  font: var(--cs-type-sans-serif-m);

  &[aria-selected="true"] {
    color: var(--cs-tab-color-active);
  }

  &:hover {
    color: var(--cs-tab-color-hover);
  }

  &::part(base) {
    border-radius: var(--cs-border-radius-s) var(--cs-border-radius-s) 0 0;
    padding-block: var(--cs-space-x1);
  }

  &::part(base):focus-visible {
    background-color: transparent;
    outline-offset: var(--cs-focus-ring-inset);
  }
}