sl-dropdown::part(panel) {
  background-color: var(--cs-popover-color-background);
  box-shadow: var(--cs-shadow-drop-m);
}

sl-dropdown sl-button::part(base) {
  padding-inline: var(--cs-space-xs)
}

sl-dropdown sl-button::part(label) {
  padding: var(--cs-space-xs)
}