:root,
:host {
  --sl-shadow-large: var(--cs-drop-shadow-l);

  --sl-panel-background-color: var(--cs-popover-background);

  --sl-transition-fast: var(--cs-transition-duration-fast);

  --sl-font-size-small: var(--cs-font-size-s);
  --sl-font-size-medium: var(--cs-font-size-m);

  --sl-focus-ring-color: var(--cs-focus-ring-color);
  --sl-focus-ring-style: var(--cs-focus-ring-style);
  --sl-focus-ring-width:  var(--cs-focus-ring-width);
  --sl-focus-ring-offset: var(--cs-focus-ring-offset);
  --sl-focus-ring: var(--cs-focus-ring);
}

[disabled] {
  pointer-events: none;
}