sl-input,
sl-textarea {
  &::part(input) {
    padding: var(--cs-space-xs);
  }

  & [slot="prefix"] {
    margin-inline-start: var(--cs-space-s);
  }

  & [slot="suffix"] {
    margin-inline-end: var(--cs-space-s);
  }
}

sl-input,
sl-select,
sl-textarea {

  &::part(base),
  &::part(combobox) {
    box-shadow: var(--cs-input-shadow);
    font: var(--cs-type-sans-serif-s-tight);
  }

  &::part(base):focus-within,
  &::part(combobox):focus-within {
    box-shadow: var(--cs-input-shadow-focus);
  }

  &[data-user-invalid]::part(base),
  &[data-user-invalid]::part(combobox) {
    box-shadow: var(--cs-input-shadow-invalid);

    &:focus-within {
      box-shadow: var(--cs-input-shadow-invalid-focus);
    }
  }

  &[disabled]::part(base),
  &[disabled]::part(combobox) {
    box-shadow: none;
    opacity: 1;
  }
}

sl-select {
  &::part(combobox) {
    padding: var(--cs-space-xs);
  }

  & [slot="prefix"] {
    /*
      Need to explicitly set this color.
      I think this should use --sl-input-icon-color
      rather than inheriting the placeholder color.
      Possible bug?
    */
    color: var(--cs-input-color-label);
    margin-inline-start: var(--cs-space-xxs);
  }
}

::part(form-control-help-text) {
  font: var(--cs-type-sans-serif-xs);
}

::part(form-control-label) {
  font: var(--cs-type-sans-serif-s);
}