sl-radio-group {
  &::part(form-control) {
    display: flex;
    flex-direction: column;
    gap: var(--cs-space-s);
  }

  &::part(form-control-input) {
    display: flex;
    flex-direction: column;
    gap: var(--cs-space-xs);
  }

  &::part(form-control-help-text) {
    font: var(--cs-type-sans-serif-s);
  }
}